@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'appleLiHei';
    src: url('../font/Hiragino Sans GB W6.otf');
} 

div,form,img,ul,ol,li,dl,dt,dd,body,th,td,select,input{margin:0; padding:0; }
ul,li{ margin:0px; padding:0px; list-style:none; }
img{vertical-align:top; border:0;}
h1,h2,h3,h4,h5,h6,p{ margin:0; padding:0; font-size:12px; font-weight:normal;}
.clear{ clear:both; padding:0; margin:0;}
body{ font-family: "宋体"; font-size:12px;color:#575654; background-color:#FFF;}
a{outline-style:none;text-decoration:none;}
table{ border-collapse:collapse}
input{ vertical-align:middle}
.Arial{ font-family:Arial;}
body.padding{ padding:5px;}
/*Input 样式美化*/
input[type=password],input[type=text]{ height:25px;}
input[type=text],textarea,input[type=password]{background: url(../images/reg_input_bg.gif) no-repeat top left;border-left: 1px solid #CCC;border-top: 1px solid #CCC;border-right: 1px solid #DDD;border-bottom: 1px solid #DDD;width: 237px;font-size: 12px;resize:none; padding-left:5px;}
/*McssTable表格*/
/*高级搜索*/
.seniorsearch{ width:750px; margin:10px auto;border: 1px solid #8A8A8A;border-bottom-color: #6D6D6D;-webkit-box-shadow:0 2px 5px 0px rgba(9, 9, 9, .35);-moz-box-shadow:0 2px 5px 0px rgba(9, 9, 9, .35);-khtml-box-shadow:0 2px 5px 0px rgba(9, 9, 9, .35);-ms-box-shadow:0 2px 5px 0px rgba(9, 9, 9, .35);
box-shadow:0 2px 5px 0px rgba(9, 9, 9, .35);-moz-border-radius: 3px;-webkit-border-radius: 3px;-ms-border-radius: 3px;border-radius: 3px;}
.seniorsearch table{ width:100%;}
.seniorsearch caption h3{ height:30px; background-color:#FDFAF1; font: bold 12px/30px "微软雅黑"; margin:0; padding:0; padding-left:10px; color:#B57D27}
.seniorsearch td{ padding-top:5px;}
/*高级过滤器*/
#mcss_table_filterbar,#mcss_table2_filterbar{clear:both;}
.mcss_tablefilterCon,.mcss_table2filterCon{ position:relative; width:auto; float:left;}
/*分页*/
.TableFenye{ height:30px;text-align:right; margin-top:5px;}
.TableFenye span{display:inline-block; color:#939191;text-align:center; font-weight:bold; margin-right:4px; font-family:Arial; padding:0 2px;}
a.actionicons{ width:22px; height:22px; display:inline-block; margin-right:2px; background:url(../images/fenyeico.jpg) top no-repeat; vertical-align:middle; margin-bottom:4px; text-indent:-9999em;  cursor:pointer}
#mcss_table_RecordCount{cursor:auto}
.mcsstable_caption a.actionicons{ float:left;}
a.firstpage:hover{ background-position:0 -22px;}
a.firstpage_disabled:hover{ background-position:0 0; cursor:auto}
a.prepage{ background-position:0 -44px;}a.prepage:hover{ background-position:0 -66px;}
a.nextpage{ background-position:0 -132px;}a.nextpage:hover{ background-position:0 -154px;}
a.lastpage{ background-position:0 -88px;}a.lastpage:hover{ background-position:0 -110px;}
a.ipage{background-position:0 -176px; cursor:auto}a.ipage:hover{background-position:0 -198px;}
.TableFenye select{ vertical-align:middle; height:24px;}
input.inputpage{width:18px;height:17px; font-family:Arial; padding-top:2px;padding-top:0px\9; line-height:17px\9; margin-bottom: 4px;margin-right: 4px;text-align: center;border:#DEDEDE 1px solid; border-radius:2px; font-weight:bold; color:#939191; font-size:12px;}
.TableFenye .labellink{ display:inline-block;}
/*功能键按钮*/
.mcsstable_caption input.searchInput{ border:#B6BAC0 1px solid; background-color:#FFF; border-radius:2px; border-left-color:#C5C5C5; border-bottom-color:#AFAFAF;box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2),0 1px 2px rgba(0, 0, 0, .05); float:left; margin:0; height:22px; width:120px; padding-right:3px; padding:0; padding-left:2px; margin-right:5px;}
.mcsstable_caption input.searchInput:focus{outline:none;border:#126AFF 1px solid;}
a.add{background-position:0 -220px;}a.add:hover{background-position:0 -242px;}
a.del{background-position:0 -264px;}a.del:hover{background-position:0 -286px;}
a.search{ background-position:0 -308px;}a.search:hover{ background-position:0 -330px;}
a.search2{background-position:0 -484px;}a.search2:hover{background-position:0 -506px;}
a.filter2{background-position:0 -352px;}a.filter2:hover{background-position:0 -374px;}
a.export{background-position:0 -440px;}a.export:hover{background-position:0 -462px;}
a.import{background-position:0 -396px;}a.import:hover{background-position:0 -418px;}
a.view{background-position:0 -572px;}a.view:hover{background-position:0 -594px;}
a.tableedit{background-position:0 -616px;}a.view:hover{background-position:0 -638px;}
/*功能键文字样式*/
.mcsstable_caption{text-align:left;padding:0;margin:0; padding:1px 0; overflow:hidden; padding-left:1px;height:22px;}
.mcsstable_caption .labellink,.TableFenye .labellink,a.labellink_btn{height:20px;
overflow: visible;border: 1px solid #D4D4D4;text-decoration: none;text-shadow: 1px 1px 0 #FFF;color: #333;white-space: nowrap;cursor: pointer;outline: none;background-color: #ECECEC;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);background-image: -o-linear-gradient(#F4F4F4, #ECECEC);
background-image: linear-gradient(#F4F4F4, #ECECEC);-webkit-background-clip: padding;-moz-background-clip: padding;-o-background-clip: padding-box;
-webkit-border-radius: 0.2em;-moz-border-radius: 0.2em;border-radius: 0.2em;zoom: 1; font-weight:normal; line-height:22px; padding:0 8px;}
.mcsstable_caption .labellink:hover,.TableFenye .labellink:hover,a.labellink_btn:hover{text-decoration:none;border-color:#3072B3;border-bottom-color: #2A65A0;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);color: white;background-color: #3072B3;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599BDC), to(#3072B3));background-image: -moz-linear-gradient(#599BDC, #3072B3);
background-image: -o-linear-gradient(#599BDC, #3072B3);background-image: linear-gradient(#599BDC, #3072B3);}
.mcsstable_caption input{ border-color:#CCC}
.mcssTable_title{ line-height:25px;}
.mcsstable_caption .labellink,.mcsstable_caption span,.mcsstable_caption input,.mcsstable_caption select{ float:left; margin-right:4px; vertical-align:middle}
.mcsstable_caption select{ height:20px; line-height:20px;}
.mcsstable_caption .text_search_btn{ border-left:none;margin-left:-1px;border-radius:0 2px 2px 0; border:1px solid #B6BAC0; cursor:pointer; font-size:12px; vertical-align:middle; padding:0 8px;background-image:none;}
.mcsstable_caption .text_search_btn:hover{ background-color:#4084f2;}
.mcsstable_caption .text_del_btn:hover{border-color: #B53F3A;border-bottom-color: #A0302A;color: white;
background-color: #DC5F59;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DC5F59), to(#B33630));
background-image: -moz-linear-gradient(#DC5F59, #B33630);
background-image: -o-linear-gradient(#DC5F59, #B33630);
background-image: linear-gradient(#DC5F59, #B33630);}
.popupmenu_none{ }
.popupmenu_csv{ background:url(../images/exporttoexcel.png) 0px 1px no-repeat;}
.popupmenu_xls{ background:url(../images/exporttoexcel.png) 0px -17px no-repeat;}
.popupmenu_xlsx{ background:url(../images/exporttoexcel.png) 0px -35px no-repeat;}
/*表格tr td*/
.WorksContent{ padding:5px;}
.mcsstable{ border:#E9E9E9 1px solid; border-spacing:0; width:100%}
.mcsstable tr th{ height:27px; line-height:27px; border:#E9E9E9 1px solid; color:#666; text-shadow:1px 1px 1px #FFF; background:url(../images/mcsstablethbg.jpg) repeat-x; white-space:nowrap}
.mcsstable tr td{ border:none; border-bottom:#E9E9E9 1px solid; height:25px; line-height:25px; text-align:center; background-color:#FFF;}
.mcsstable tr th.order_asc{ background:url(../images/order_arrow.png) right top no-repeat;}
.mcsstable tr th.order_asc:hover{ background-position:right -54px}
.mcsstable tr th.order_desc{background:url(../images/order_arrow.png) right -27px no-repeat;}
.mcsstable tr th.order_desc:hover{ background-position:right -81px}
.mcsstable tr.mcsstable_tr1 td{ background-color:#f8f8f8}
.mcsstable tr.mcsstable_tr_hover td{ background-color:rgb(240,240,240); color:black;border-left:#8EB9FF;}
a.smallbut{ width:20px; height:15px; display:inline-block; background:url(../images/systermico.png) no-repeat;text-indent:9999px; overflow:hidden}
a.mcsstable_record_open{ background-position:-149px 0;}a.mcsstable_record_open:hover{ background-position:-149px -20px;}
a.mcsstable_record_edit{ background-position:-108px 0;}a.mcsstable_record_edit:hover{ background-position:-108px -20px;}
a.mcsstable_record_del{background-position:-129px 0;}a.mcsstable_record_del:hover{background-position:-129px -20px;}
a.mcsstable_record_tag{ background-position:-176px -44px;}a.mcsstable_record_tag:hover{ background-position:-197px -44px;}

a.gantetu_clearDate{background:url(../images/pn_ico.png) -20px -20px no-repeat; margin-right:5px;}
a.gantetu_addDiscussion{background:url(../images/pn_ico.png) -44px -20px no-repeat; margin-right:5px;}
a.gantetu_addDiscussion_withdata{background:url(../images/pn_ico.png) -44px -20px no-repeat; margin-right:5px;}
a.gantetu_moveTask{background:url(../images/pn_ico.png) -68px -20px no-repeat; margin-right:5px;}

/*隐藏显示*/
input.showallgroup{ width:20px; height:20px;background:url(../images/jiajian.png) no-repeat; cursor:pointer;margin:5px;}
/*MCfuceng*/
.fuchuceng .closeDiv{ text-align:right; height:16px; overflow:hidden;}
.fuchuceng .closebox{ padding:2px; background-color:#CB943E; color:#FFF; cursor:pointer; margin-left:5px;}
.mcssform{ padding-top:5px;text-align:left;}
.handmove,.seniorsearch h3{min-height: 30px;background:whiteSmoke;border-bottom: 1px solid #E5E5E5;position: relative;_height: 30px;border-radius:3px 3px 0 0; cursor:move}
.handmove span.title_popup,.seniorsearch h3 span{float: left;font-size: 12px;white-space: nowrap;margin-right: 5px;_margin-right: 3px;line-height: 30px;padding-left: 10px; font-family:"微软雅黑";color: #9B9B9B;text-shadow: 1px 1px 1px white;}
.handmove a.close_popup,.closedialog{position: absolute;font-size: 0;padding:8px 10px 11px;-webkit-text-size-adjust: none;right: 0;top: 0;z-index: 10;}
.i-pop-close{width:13px;height:13px;background:url(../images/close_popup.gif) no-repeat; display:block; filter:alpha(opacity=30);-moz-opacity:0.3;opacity:0.3;}
.i-pop-close:hover{ background-position:-19px 0px;width: 13px;height: 13px;filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.handmove a.shiying_popup{ right:45px;}
.i-pop-shiying{ width:11px; height:11px; display:block;background:url(../images/ico_popup.gif) 0 -22px no-repeat;}
.handmove a.max_popup,.handmove a.back_popup{ right:20px;}
.handmove a.max_popup .i-pop-max{ width:11px; height:11px; display:block; background:url(../images/ico_popup.gif) 0 -11px no-repeat;}
.handmove a.back_popup .i-pop-max{ width:11px; height:11px; display:block; background:url(../images/ico_popup.gif) 0 0 no-repeat;}
.popup_htmlContent{ padding:10px;}
.popup_htmlContent table{ width:100%;}
.popup_htmlContent table tr td.lefttitle{ text-align:right; height:30px; white-space:nowrap}
.popup_htmlContent input:focus,textarea:focus,.formdataCon input[type=text]:focus,select:focus{outline:none;border:#87C6F9 1px solid;box-shadow: 0 0 3px rgba(103, 166, 217, 1);}
.fuchuceng,.dialogBoxbordercolor{height: auto;z-index:99999;top:20px;width:300px;z-index:100;position:absolute;background: white;
border: 1px solid #8A8A8A;border-bottom-color: #6D6D6D;-webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);-moz-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);-khtml-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);-ms-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);-moz-border-radius: 3px;-webkit-border-radius: 3px;-ms-border-radius: 3px;border-radius: 3px;}
.fuceng_buttom{ text-align:center; padding:10px 0; width:100%;}
/*自定义标签*/
input.addTextCon{ width:212px; float:left}
.tag_list{ max-height:140px; overflow-y:auto;}
.tag_style_list{ height:24px; overflow:hidden;}
.tag_style_list ul li{width:70px;height:18px;font:bold 12px/16px 微软雅黑;color: #b3b3b3;cursor:pointer;text-align:center;float:left;border-bottom:#FFF 2px solid;}
.tag_style_list ul li.nav{ border-bottom:#6792D4 2px solid; color:#6792D4;}
.tag_info{ overflow:hidden;}
.tag_list_Content{ padding:10px 0;}
.tag_info .tagfilerbg{ padding:0 3px; border:#EAD483 1px solid; background-color:#FEF6CE; color:#5B5B5B; height:22px; line-height:22px; margin-right:5px; float:left; display:block; margin-bottom:3px;}
.tag_info .tagfilerbg_click{}
/*按钮 style*/
.labellink_btn{ display:inline-block; margin-bottom:2px;}
.btn{ margin-right:5px;}
.big_btn,.btn{border-radius: 2px;vertical-align: middle; cursor:pointer; border:#ccc 1px solid;background:url(../images/buttonbg.png) 0 -23px repeat-x; height:23px; line-height:23px; padding:0 16px; color:#555555;box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2),0 1px 2px rgba(0, 0, 0, .05);display:inline-block;vertical-align: middle;cursor: pointer;font-weight: normal}
.btn:hover{ text-decoration:none; background-position:0 -69px;}
.btn-green{border-color: #519428 #438818 #357D09;background:url(../images/buttonbg.png) repeat-x; color:#f2f2f2; text-shadow:1px 2px 1px #2a9f00}
.btn-green:hover{ text-decoration:none; background-position:0 -46px;}
.big_btn{ height:30px; padding:0 20px; line-height:30px; background:url(../images/big_btnbg.png) 0 -30px repeat-x;}
.big_btn:hover{ background-position:0 -90px;}
.big_btn-green{border-color: #519428 #438818 #357D09;background:url(../images/big_btnbg.png) repeat-x; color:#f2f2f2; text-shadow:1px 2px 1px #2a9f00}
.big_btn-green:hover{text-decoration:none; background-position:0 -60px;}
.big_btn-blue:hover{ background-position:0 -150px;border-color:#3072B3;border-bottom-color: #2A65A0;text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);color: white;}
.setSubmit2{ margin-top:5px; margin-left:3px;}
/*autoForm Style*/
.formdataCon{ padding:10px;}
.formdataCon table,.mcssform table{ border:none; width:100%;}
.formdataCon table tr td,.mcssform table tr td{ height:35px;}
.formdataCon table tr td select,.mcssform table tr td select{ height:25px;}
.formdataCon table tr td.lefttitle,.mcssform table tr td.lefttitle{ text-align:right; width:20%; white-space:nowrap}
.fuchuceng table tr td.lefttitle{ width:auto}
.Submitbutton{ text-align:center; border-top:#E7E7E7 1px solid; padding:10px 0;}
.formBox h3{ padding-left:15px;border-bottom:#E7E7E7 1px solid; }
.formBox h3 span{ font:bold 14px/30px "微软雅黑"; margin-right:5px;}
input.selectbutton{ margin:0; padding:0; height:27px;border: 1px solid #D4D4D4;text-shadow: 1px 1px 0 #FFF;color: #333;cursor: pointer;outline: none;background-color: #ECECEC;background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);background-image: -o-linear-gradient(#F4F4F4, #ECECEC);background-image: linear-gradient(#F4F4F4, #ECECEC);-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;zoom: 1;line-height:25px; padding:0 8px; border-left:none; float:left;}
input.selectbutton:hover,.select_down:hover input.selectbutton,.zhineng_select:hover input.selectbutton{text-decoration:none;border-color:#3072B3;border-bottom-color: #2A65A0;
text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);color: white;background-color: #3072B3;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599BDC), to(#3072B3));background-image: -moz-linear-gradient(#599BDC, #3072B3);
background-image: -o-linear-gradient(#599BDC, #3072B3);background-image: linear-gradient(#599BDC, #3072B3);}
input.select_txt_input{ float:left;}input.select_txt_input:focus{outline:none;}
.select_down:hover input,.zhineng_select:hover input{border-color:#3072B3;border-bottom-color: #2A65A0;}
/*弹出框 样式*/
.popupheadbg{min-height: 30px;background: whiteSmoke;border-bottom: 1px solid #E5E5E5;_height: 30px;border-radius: 3px 3px 0 0; position:relative}
.dialog_title_txt{font-size: 14px;white-space: nowrap;line-height: 30px;}
#fuchuceng_BG{filter:alpha(opacity=50);}
/*加载Loading*/
.progressBar___{display:block; width:70px; height:30px; position:fixed; top:30%; left:45%; -moz-box-align: center;position:absolute; z-index:111; border:solid 1px #ccc; background:#000 url(../images/loading.gif) center no-repeat; text-indent:-99999px; overflow:hidden;-moz-border-radius: 5px;-webkit-border-radius:5px;-ms-border-radius:5px;border-radius:5px;}
.progressBar{height: 30px;padding-left:35px; padding-right:5px;line-height: 31px;overflow: hidden;color: white;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7F000000', endColorstr='#7F000000');position:absolute; z-index:9999999;top:30%; left:35%;background:rgba(0, 0, 0, 0.5) url(../images/loading.gif) 10px center no-repeat;-moz-border-radius:15px;-webkit-border-radius:15px;-ms-border-radius:15px;border-radius:15px; border-color:#000;}
.background { display:block; width:100%; height:100%; opacity:0.4; filter:alpha(opacity=40); background:#CCC; position:absolute; top:0; left:0; z-index:110;}
/*系统提示*/
.comfirmbox,.system_Ico{ background:url(../tipsimg/confirm.png) 60px center no-repeat; padding-left:120px; height:50px; line-height:20px; font-size:14px;}
.comfirmbox_bottom{text-align:center; padding-top:20px; width:100%;}
.comfirmbox_bottom a{ margin-right:10px;}
.alert_ico{ background:url(../tipsimg/alert.png) 20px center no-repeat; padding-left:80px;  }
.info_ico{ background:url(../tipsimg/info.png) 20px center no-repeat; padding-left:80px;  }
.success_ico{ background:url(../tipsimg/success.png) 20px center no-repeat; padding-left:80px;  }
.fail_ico{ background:url(../tipsimg/error.png) 20px center no-repeat;  padding-left:80px; }
/*登陆页面*/
body.smalllogoBg{ background:url(../images/smallloginbodybg.jpg) left top repeat;}
.smallloginBox{ width:388px; background:url(../images/loginboxbg.jpg) top left no-repeat; position:absolute; top:-281px; padding-top:10px;}
.smallloginBoxBotbg{background:url(../images/loginboxbgbot.jpg) bottom left no-repeat; padding-bottom:25px;}
.smallloginBox h3{ font:16px/40px "微软雅黑"; text-shadow:#FFF 1px 1px 1px; color:#939393; margin-bottom:40px;}
.smallloginBox span{font:14px/35px "微软雅黑"; margin-right:10px; margin-bottom:5px; color:#939393}
.smallloginBox input.smallInputbg{ border:none; width:254px; height:38px; line-height:38px\9; background:url(../images/logininputbg.jpg) no-repeat; padding-left:5px; vertical-align:middle}
.smallloginBox p{ margin-bottom:10px;}
.smallloginPadding{padding-left:33px; }
.smallloginsubmit{ text-align:center; margin-top:30px;}
.smallsubmitLogin{ border:none; height:45px; width:156px; background:url(../images/loginbutton.png) no-repeat;}
.smallsubmitLogin:hover{ background-position:0 -45px;}
/*浮出菜单*/
 .popupmenu{ position:absolute; top:18px; left:5px; width:110px; background:#FFF; border:#CCC 1px solid; padding:2px; display:none; z-index:9999; background:url(../images/showshortmenubg.gif) left top repeat-y; border:#ddd 1px solid;}
 .popupmenu a{padding-left:30px; height:20px; line-height:20px; color:#444;display:block; height:20px; background-color:transparent; border-width:1px; border-color:transparent; background-repeat:repeat-y; cursor:pointer}
 .popupmenu a:hover{ border-radius:4px;background-color:#EAF2FF;border:#B7D2FF 1px solid;color: #000000;}
/*弹出按钮*/
 #mcss_pagebar{ position:fixed; top:0; right:0;}
/*权限分配*/
.setRightpage{ width:600px;}
.setRightpage table{ border:none;}
.rolelist,.menu_ztree{  padding:5px;padding-top:10px; width:250px; background:#FAFAFA; border:#EAEAEA 1px solid; min-height:350px;}
.rolelist ul li{ height:24px; line-height:24px; background:url(../images/ul_list_style.jpg) left center no-repeat; border-bottom:#F6F6F6 1px dashed;}
.rolelist ul li a{ color:#666; padding-left:20px;}
.rolelist ul li a.selectedItem{ border:#5F9AD3 1px solid; display:block;box-shadow:0 1px 2px 0px rgba(221,234,248, .35); background:#FFF url(../images/set_arrowRight.png) 230px center no-repeat;}
.search_user_box{border:#EAEAEA 1px solid; background:#F5F5F5; border-bottom:none; width:250px; padding:5px;}
.search_user_box .search_user_text{ height:20px; background:#FFF url(../images/searchrightico.jpg) right center no-repeat;}
.menu_ztree{max-height:350px; overflow-y:auto;}
.big_btn_save{ margin:10px 0; padding:10px; text-align:center; border-top:#EAEAEA 1px solid;}
.quanxian_title span{ height:22px; display:block; line-height:22px; font-family:"微软雅黑";}
/*只读Input*/
input.readonly_bg,input.readonly_bg{ background:#F7F7F7; cursor:default}
/*智能选择下拉框*/
.zhineng_select{ position:relative;}
.ul_selectList,.div_selectList{background-color:#FFF; border:1px solid rgb(129, 127, 130);overflow:auto; position:absolute; top:27px; left:0; z-index:9999999;}
.ul_selectList ul li,.div_selectList ul li{ height:25px; padding-left:10px; line-height:25px; color:#515151; cursor:pointer;}
.ul_selectList ul li:hover,.ul_selectList ul li.li_hover,.div_selectList ul li:hover,.div_selectList ul li.li_hover{ background-color:#F0F0EE}

.div_selectList_shaixuan{ border:#ddd 1px solid; height:20px; margin:5px;}
.div_selectList_shaixuan .search_text_style{height:20px; vertical-align:middle; border:none; padding-left:6px;}
.search_btn_style{ height:14px; width:14px; border:none; background:url(../images/fangdajing.png) center no-repeat; vertical-align:middle;}
.select_zuijin{ height:25px; line-height:25px; background-color:#EAEAEA; padding-left:10px; font-size:12px;text-shadow:1px 1px 1px #FFF;}
.select_zuijin a{ color:#0000EE}

.right_select_page{ text-align:right; padding:5px; border-top:#EAEAEA 1px solid;}
.right_select_page a{ color:#A9A9A9; padding-top:2px;}.right_select_page a:hover{ color:#000;}