@charset "utf-8";
/* CSS Document */
.rili{ width:204px; height:218px; background:url(../images/calendarbg.png) no-repeat; overflow:hidden; padding:14px 14px 0 14px;}
.rili table{ width:100%;}
.rili a.labellink{}
#calendar_navigator_header{ overflow:hidden; height:30px;}
#calendar_navigator a:hover{ text-decoration:none; cursor:pointer}
#calendar_navigator a.labellink,#calendar_navigator span{ display:block; float:left; line-height:16px;}
#calendar_navigator_yearmonth a.labellink{ width:16px; height:18px; overflow:hidden; background:url(../images/systermico.png) 0 -66px repeat-x; display:inline-block; overflow:hidden; text-indent:222em;}
#calendar_navigator_yearmonth a.labellink:hover{ background-position:-32px -66px;}
#calendar_navigator_yearmonth a#calendar_navigator_nextyear{ margin-right:28px;}
#calendar_navigator_yearmonth a#calendar_navigator_nextyear,#calendar_navigator_yearmonth a#calendar_navigator_nextmonth{ background:url(../images/systermico.png) -49px -66px repeat-x;}
#calendar_navigator_yearmonth a#calendar_navigator_nextyear:hover,#calendar_navigator_yearmonth a#calendar_navigator_nextmonth:hover{ background-position:-16px -66px}
#calendar_navigator_year,#calendar_navigator_month{ width:56px; font-size:18px; text-align:center; color:#999;font-family:'Bookman Old Style', serif}

#calendar_navigator_mcsscalendar th{ width:28px; height:28px; color:#4F9BF9;font-size:10px; font-family:"微软雅黑"}
#calendar_navigator_mcsscalendar td{ height:24px; width:28px; text-align:center; padding:0; cursor:pointer; border:#e7e7e7 1px solid;box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.8) inset; font-family:"Times New Roman", Times, serif; font-size:14px;}
#calendar_navigator_mcsscalendar td.workday_onmouseover,#calendar_navigator_mcsscalendar td.ontoday_day{color:#5c8fd4; }
#calendar_navigator_mcsscalendar td.workday_onmouseout{ background:none; font-weight:normal; color:#575654}
#calendar_navigator_mcsscalendar td.ontoday{ background:url(../images/calendaronday.jpg) no-repeat;color:#CC0000; font-weight:bold;box-shadow: 0px 1px 5px rgba(255, 255, 255, 1) inset;}
#calendar_navigator_mcsscalendar td.ontoday_day{ background:url(../images/calendaronday.jpg) no-repeat;color:#5c8fd4; font-weight:bold;box-shadow: 0px 1px 5px rgba(255, 255, 255, 1) inset;}

.rilibottomBut{ height:28px; border-top:#999 1px solid; margin:10px 2px 0 0; padding-top:10px;}
.rilibottomBut a{ display:block; width:24px; height:19px; float:left;text-align:center; padding-top:3px;}

