 .maindiv { 
	 line-height:20px;
	 font-size:12px;
 
 
  }
   .default { 
    margin-top: 0px;
    margin-left: 10px;
	text-align:left;

	}
	
  .dept { 
    color: #B57D27;
    margin-top: 0px;
    margin-left: 10px;
	text-align:left;

	}
	.dept img{ margin-right:2px;}
  .position { 
   
    margin-left: 20px;	
    margin-top: 0px;

	text-align:left;
  
  }
  .staff { 
    color: black;
    margin-left: 20px;
    margin-top: 0px;
	border-top:'';
	float: '';
	text-align:left;

  
  }  
  #status{
  	position:fix;
  	margin-top:10px;
  }
  .action{
		 
		1float:left;
		1width:50px;
		 
  }
  /*工作岗位*/
  .gukeCon{padding:6px;}
 .position2{height:26px; line-height:26px; background:url(/jusaas/Public/Landz/images/positionbg.png) repeat-x; padding-left:10px; color:#B57D27}
.position2 a{ color:#B57D27}
.titles{ font:bold 14px/30px "微软雅黑"; border-bottom:#E6B15D 1px solid; padding-left:30px; color:#B57D27; background:url(/jusaas/Public/Landz/images/gif-0031.gif) left center no-repeat; margin-bottom:10px;}
.zuzhiUl{ height:25px; overflow:hidden; margin-bottom:10px;}
.zuzhiUl input.buttons{ width:75px; height:25px; background:url(/jusaas/Public/Landz/images/zuzhibutbg.png) repeat-x; border:#D0D0D0 1px solid; font:bold 12px/25px "宋体"; color:#B57D27; text-align:center; vertical-align:middle; margin-right:10px; cursor:pointer;}
.zuzhiUl input.buttonnav{ background:#5B0EA9; color:#FFF;}
#zuzhiContent{ border:#D0D0D0 1px solid; padding:20px; overflow:hidden;}
.maindiv{ width:200px; overflow:hidden; float:left;}
#mainform{ width:560px; overflow:hidden; float:left;}
.buttonsub{border:#B08FD2 1px solid; background-color:#5B0EA9; color:#FFF; height:20px;}
.maindiv img{ margin-right:3px;}
.lefttitle{ width:150px; text-align:right; white-space:nowrap; padding-top:6px; background-color:#FDF8EB; font-weight:bold; color:#DEAD5D}
.menunav{ border:#F6E4B5 1px solid; background-color:#FDF8EB;}
.mcssform table{ border-collapse:collapse;width:100%;}
.mcssform table tr td{ border:#F6E4B5 1px solid; height:30px;}
.mcsstable_td2,.mcsstable_td1{ white-space:nowrap}
.mcssform table td input{ border:#EDEDED 1px solid; background:none;}