.ztree{margin:5px 0; padding:10px; width:250px; height:100%; overflow:auto; background:#F9F9F9;border:#CCC 1px solid;-moz-box-shadow:2px 2px 2px #CCC;
	-webkit-box-shadow:2px 2px 2px #CCC;box-shadow:2px 2px 2px #CCC;   }
.ztree li ul.line,.ztree li ul.line li.dept{white-space:nowrap}
.ztree li ul{padding:0 0 0 18px}
.ztree li img{ vertical-align:middle;}
.ztree li span.ztreeHover,.menunav{background-color: #FDFAF0; border: 1px solid #E0BF85; color: black; opacity: 0.8;padding:0 2px;}
ul.line li{ overflow:hidden; display:block;width: 100%;}
ul.line li span,ul.line li img{ float:left; height:18px; line-height:18px;}
.ztree ul.line{ clear:both;}

