/* CSS Document */
#mycalendar{ width:195px; height:217px; overflow:hidden; padding:13px 0 0 7px;}
#mycalendar_header{ overflow:hidden; margin-bottom:5px; padding-left:8px;}
#mycalendar a:hover{ text-decoration:none; cursor:pointer}
#mycalendar a.labellink,#mycalendar span{ display:block; float:left; line-height:16px;}
#mycalendar_preyear,#mycalendar_nextyear,#mycalendar_premonth,#mycalendar_nextmonth{ width:17px; height:16px; overflow:hidden; background:url(images/riliLeftarrow.png) repeat-x;}
#mycalendar_nextyear,#mycalendar_nextmonth{ background:url(images/riliRightarrow.png) repeat-x;}
#mycalendar_year,#mycalendar_month{ width:56px; text-align:center; color:#474747;font-family:"微软雅黑"}

#mycalendar_mcsscalendar th{ width:26px; height:28px; color:#4F9BF9;font-size:10px; font-family:"微软雅黑"}
#mycalendar_mcsscalendar td{ height:23px; width:26px; text-align:center; padding:0; cursor:pointer}
#mycalendar_mcsscalendar td.workday_onmouseover,#mycalendar_mcsscalendar td.ontoday_day{ background:url(images/rilihover.png) center no-repeat;color:#FFF; font-weight:bold;}
#mycalendar_mcsscalendar td.workday_onmouseout{ background:none; font-weight:normal; color:#575654}
#mycalendar_mcsscalendar td.ontoday{ background:url(images/rilihover.png) center no-repeat;color:#F00; font-weight:bold;}
#mycalendar_mcsscalendar td.ontoday_day{ background:url(images/rilihover.png) center no-repeat;color:#FFF; font-weight:bold;}

.rilibottomBut{ height:28px; border-top:#999 1px solid; margin:10px 2px 0 0; padding-top:10px;}
.rilibottomBut a{ display:block; width:24px; height:19px; float:left;text-align:center; padding-top:3px;}
.rilibottomBut a:hover{ background:url(images/bg_show.gif) no-repeat;}


